
<div class="container">
  <div class=''>
    <% @flats.each do |flat| %>
      <div class="card-trip">
        <img src="https://baconmockup.com/640/360" />
        <div class="card-trip-infos">
          <div>
            <h2><%= flat.name %></h2>
            <p><%= flat.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= flat.price_per_night %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
